@import url('../../assets/fonts/index.scss');

.root {
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;

  font-family: 'Nunito';
  align-items: center;
  row-gap: 10px;
  &Img {
    width: 250px;
  }
  &Title {
    font-size: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &Price {
    font-size: 16px;
  }
  &Btn {
    border: none;
    background-color: transparent;
    padding: 5px 15px;
    font-family: 'Nunito';
    border-radius: 10px;
    cursor: pointer;
    background-color: #917dcd;
    margin-top: 5px;
    color: rgb(255, 255, 255);
  }
}

.Link {
  text-decoration: none;
  color: inherit;
}
