@import url('../../assets/fonts/index.scss');

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100%;
}

.root {
  background-color: #fffbff;
  padding: 100px 0 75px 0;
  &Catalog {
    &List {
      display: grid;
      column-gap: 25px;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 50px;
      place-items: center;
    }
    &Wrapper {
      margin: 0 0 50px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &Title {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
  }
}
