@import url('../../assets/fonts/index.scss');

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100%;
}

.root {
  background-color: #fffbff;
  padding: 100px 20px 75px 20px;
  @media (max-width: 960px) {
    padding: 25px;
  }
  &Catalog {
    &List {
      display: grid;
      column-gap: 25px;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 50px;
      place-items: center;

      @media (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 682px) {
        gap: 0;
      }
      @media (max-width: 425px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &Wrapper {
      margin: 0 0 50px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &Title {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
  }
}
