@import url('../../assets/fonts/index.scss');

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100%;
}

.root {
  min-height: 100vh;
  padding-bottom: 100px;
  &CatalogList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    place-items: center;
  }
  &Title {
    margin: 0 0 30px 12px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
  }
}
