@import url('../../assets/fonts/index.scss');

.root {
  position: relative;
  min-height: 450px;
  cursor: pointer;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &Item {
    position: relative;
  }
  @media (max-width: 1280px) {
    max-width: 80%;
  }
  @media (max-width: 960px) {
    max-width: 70%;
    min-height: 100%;
  }
  @media ((min-width: 426px) and (max-width: 682px)) {
    max-width: 90%;
  }

  &Picture {
    box-shadow: 1px 3px 10px #d4d4d4;
    position: relative;
    height: 285px;
    @media (max-width: 1280px) {
      height: 100%;
    }

    &Btns {
      transition: all 0.3s;
      position: relative;
      z-index: 10000;
      svg {
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        &:hover {
          transform: scale(1.1);
        }
      }
      button {
        cursor: pointer;
      }
      &Like {
        visibility: hidden;
        opacity: 0;
        @media (max-width: 1280px) {
          visibility: visible;
          opacity: 0.15;
        }
        @media (max-width: 1280px) {
          top: 15px;
          right: 10px;
          svg {
            width: 22px;
          }
        }
        &Active {
          transition: all 0.3s;
          outline: none;
          right: 20px;
          border: none;
          background-color: transparent;
          top: 20px;
          position: absolute;
          @media (max-width: 1280px) {
            top: 15px;
            right: 10px;
            svg {
              width: 22px;
            }
          }
          svg path {
            fill: rgb(185, 0, 0);
            transition: all 0.3s;
          }
        }
        outline: none;
        right: 20px;
        border: none;
        background-color: transparent;
        top: 20px;
        position: absolute;
      }
    }
  }

  &:hover {
    transform: scale(1.06);
    @media (max-width: 1200px) {
      transform: none;
    }
    .rootSizes,
    .rootPictureBtnsLike {
      visibility: visible;
      opacity: 1;
    }
  }
  &Text {
    font-family: 'Mulish', sans-serif;
    width: 275px;
    padding: 5px;
    @media (max-width: 860px) {
      width: 100%;
    }
    &Title {
      font-size: 22px;
      line-height: 28px;
      margin: 14px 0;
      @media (max-width: 960px) {
        font-size: 18px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    &Price {
      margin-bottom: 20px;
    }
  }
  &Img {
    width: 100%;
  }
  &Sizes {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10000;
    margin-left: 5px;
    column-gap: 5px;
    width: 280px;
    flex-wrap: wrap;
    @media (max-width: 1280px) {
      visibility: visible;
      opacity: 1;
    }
    @media (max-width: 682px) {
      row-gap: 5px;
      width: 100%;
    }
    @media (max-width: 425px) {
      width: 100%;
    }
    button {
      padding: 5px 10px;
      border-radius: 20px;

      font-size: 11px;
      border: 2px solid transparent;
      cursor: pointer;
    }
    &Btn {
      color: #240f0f;
      position: relative;

      &:hover {
        border-color: #1c1c1c;
      }
      &:active {
        transform: translateY(-2px);
      }
      &::before {
        visibility: hidden;
        opacity: 0;
        content: 'В корзину';
        position: absolute;
        top: -25px;
        width: 65px;
        height: auto;
        font-family: 'Nunito';
        transition: all 0.4s;
        font-size: 12px;
        border-radius: 4px;
        padding: 2px 2px;
        left: 50%;
        line-height: 14px;
        transform: translateX(-50%);
        color: white;
        z-index: 1000;
        background-color: rgb(103, 42, 42);
      }
    }
  }
  &Link {
    text-decoration: none;
    color: inherit;
  }
}

.rootSizesBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
