@import url('../../assets/fonts/index.scss');

.root {
  min-height: 400px;
  &Text {
    font-family: 'Mulish', sans-serif;
    width: 275px;
    padding: 5px;
    &Title {
      font-size: 22px;
      line-height: 28px;
      margin: 14px 0;
    }
  }
  &Img {
    width: 275px;
    box-shadow: 1px 3px 10px #d4d4d4;
  }
}
