.root {
  &Cart {
    &Main {
      padding: 20px;
    }
    &Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 200px 0 0 10px;
  min-height: 100%;
}
