@import url('../../assets/fonts/index.scss');

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100%;
}

.root {
  background-color: #f5f5f5;
  box-shadow: 1px 1px 10px #adadad;
  position: fixed;
  z-index: 999999;
  width: 100%;
  @media (max-width: 618px) {
    .rootInnerMenu {
      display: none;
    }
    .open {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      bottom: 0;
      background-color: #ffffff;
      text-align: center;
      padding-top: 140px;
      a {
        margin: 0;
        color: #000000;
        padding: 20px;
        display: block;
        font-size: 30px;
      }
    }
    .rootInnerLogo {
      z-index: 5;
    }
    .rootInnerBtn {
      display: block;
    }
    .rootInnerInfo {
      margin: 0 30px 0 0;
    }
  }
  &Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-family: 'Nunito', sans-serif;
    &Btn {
      display: none;
      z-index: 6;
      background-color: transparent;
      margin-right: 40px;
      border: none;
      position: relative;
      width: 30px;
      cursor: pointer;
      height: 25px;
      @media (max-width: 426px) {
        margin-right: 10px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #000000;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #000000;
      }
      &Burger {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        width: 30px;
        height: 2px;
      }
    }
    &Logo {
      color: inherit;
      text-decoration: none;
      font-size: 2rem;
      font-family: 'Gugi', cursive;
      @media (max-width: 1200px) {
        margin-left: 10px;
      }
    }
    &Menu {
      display: flex;
      &Item {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        position: relative;
        padding: 0 5px;
        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 3px;
          left: 0;
          bottom: -10px;
          background-color: #220d62;
          transition: all 0.5s;
        }
        &:hover {
          color: #220d62;
          &::after {
            width: 100%;
          }
        }
      }
      &Item + &Item {
        margin-left: 55px;
      }
    }
    &Info {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-left: 50px;
      &Fav {
        position: relative;
        &Full {
          content: '';
          bottom: 3px;
          right: -1px;
          width: 10px;
          border-radius: 50%;
          background-color: rgb(255, 0, 0);
          height: 10px;
          position: absolute;
        }
      }
      &Cart {
        position: relative;
        cursor: pointer;
        &Count {
          position: absolute;
          background-color: #000000;
          right: -3px;
          top: 10px;
          color: #fff;
          font-size: 14px;
          border-radius: 10px;
          padding: 1px 3px;
        }
      }
      svg {
        cursor: pointer;
        &:hover {
          stroke: #f3f3f3;
        }
      }
    }
  }
}
