@import url('../../assets/fonts/index.scss');
.root {
  display: flex;
  font-family: 'Mulish', sans-serif;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #c3c3c3;
  @media (max-width: 780px) {
    flex-direction: column;
    text-align: center;
    row-gap: 5px;
    padding: 20px;
  }
  @media (max-width: 426px) {
    padding: 40px;
  }
  &Text {
    h1 {
      margin-bottom: 10px;
    }
    @media (max-width: 780px) {
      margin-bottom: 5px;
    }
  }
  &Info {
    text-align: center;
    &Btns {
      margin-top: 10px;
      display: flex;
      font-size: 20px;
      line-height: 30px;
      column-gap: 10px;
      button {
        font-size: 20px;
      }
    }
  }
  img {
    width: 150px;
  }
  h1 {
    font-size: 20px;
    width: 300px;
    margin-bottom: 5px;
    @media (max-width: 780px) {
      margin-bottom: 15px;
    }
    @media (max-width: 426px) {
      font-size: 16px;
      width: 180px;
    }
  }

  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    svg {
      &:hover {
        path {
          transition: all 0.4s;
          fill: #000;
        }
      }
    }
  }
}
