.root {
  img {
    width: 100px;
  }
  &Btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    svg {
      &:hover {
        path {
          transition: all 0.4s;
          fill: #000;
        }
      }
    }
  }
}
