@import url('../../assets/fonts/index.scss');

.root {
  text-align: center;
  padding-top: 200px;
  font-family: 'Space Grotesk';

  &Title {
    font-size: 60px;
  }
  &Btn {
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: 1px solid #454545;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
}
