@import url('../../assets/fonts/index.scss');

.root {
  text-align: center;

  font-family: 'Space Grotesk';

  &Title {
    font-size: 60px;
  }
  &Btn {
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: 1px solid #454545;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 200px 0 0 10px;
  min-height: 100%;
}
