@import url('../../assets/fonts/index.scss');

.root {
  padding-top: 200px;
  &Inner {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &Link {
    text-decoration: none;
  }
  &BackBtn {
    font-family: 'Nunito';
    border: none;
    display: block;
    outline: none;
    padding: 2px 10px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
  }
  &ImgItem {
    width: 400px;
  }
  &Title {
    font-family: 'Gugi';
    margin: 5px;
    font-size: 24px;
  }
  &Text {
    font-family: 'Space Grotesk';
    margin: 20px 5px;
    font-size: 30px;
  }
  &Btn {
    &Active {
      @extend .rootBtn;
      color: #000;
      border-color: #000;
    }
    font-family: 'Space Grotesk';
    border: 2px solid #8860ff;
    border-radius: 10px;
    color: #8860ff;
    background-color: transparent;
    font-size: 16px;
    margin: 5px;
    padding: 7px 20px;
    cursor: pointer;
    &:hover {
      border-color: #3f3f3f;
    }
  }
  &Info {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  &Cart {
    background-color: #855cff;
    font-family: 'Nunito';
    font-size: 16px;
    border: none;
    margin: 20px 5px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    &:hover {
      background-color: #8c66fe;
    }
  }
}

.loading {
  position: absolute;
  top: 20%;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
